@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="d-flex justify-content-center">
    <div class="spinner-border text-spinner mb-1"
         style="width: 1.5rem; height: 1.5rem; display: none"
         role="status" id="loading">
        <span class="sr-only">Loading...</span>
    </div>
</div>